* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 8;
  
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin: 0 5%;
}
nav ul li {
   /* padding: 20px; */
}
nav ul li,
nav ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
}
nav li a:hover {
  background-color: white;
  color: black;
  border-radius: 7px;
}
nav ul li a {
  padding: 14px 16px;
  margin: 3px;
}
.menu-icon{
  display: none;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Section1 css */
.sec1 {
  height: 100vh;
  background-image: url(./images/b16e9061-ef99-4834-b5d5-fbc7e016dc00.jpg);
  background-size: cover;
}

.text {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  line-height: 100px;
}
.border{
  border-bottom: 2px solid green;
}

.shadow{
  color: orange;
  text-shadow: 3px 4px 4px yellow;
}
p{
  width: 500px;
}
/* Section2 */
.sec2 {
  background-image: url(https://cdn.pixabay.com/photo/2023/03/18/07/55/tawny-owl-7860086_960_720.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  width: 100%;
}
/* Section 3 */
.sec3 {
  height: 100vh;
}
h1 {
  text-align: center;
}
.boxes {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 3px solid rgb(75, 75, 17);
}
.box {
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: red;
  z-index: 6;
  top: 35%;
  left: 35%;
  background-attachment: fixed;
}
.box2 {
  background-color: gray;
  z-index: 4;
  top:40%;
  left: 25%;

}
.box3 {
  background-color: blue;
  z-index: 5;
  top: 60%;
  left: 30%;
}
.box4 {
  background-color: rgb(207, 158, 97);
  z-index: 3;
  top: 65%;
  left: 40%;
}
.box5 {
  background-color: green;
  z-index: 4;
  top: 45%;
  left: 45%;
}
.meenu-icon{
  color: rgb(255, 255, 255);
  display: none;
 
}


@media only screen and (max-width: 767px) {
  .sec1{
    
    height: 100vh;
    background-image: url(./images/8414e293-708a-4efa-b1fb-df56988014e4.jpg);
    background-size: cover;
  }
  .text{
    display: none;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-icon{
    display: block;
    float: right;
    color: rgb(255, 255, 255);
    margin-right:5% ;
    
  }
  .hidden{
    display: none;
  }
  .boxes {
    /* flex-wrap: wrap; */
    justify-content: center;
  }
  .box {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
  }
  .box1 {
    top: 0;
    left: 0;
    margin: 0;
  }
  .box2 {
    top: 0;
    left: 0;
    margin: 0;
  }
  .box3 {
    top: 0;
    left: 0;
    margin: 0;
  }
  .box4 {
    top: 0;
    left: 0;
    margin: 0;
  }
  .box5 {
    top: 0;
    left: 0;
    margin: 0;
  }
  .boxes{
    height: max-content;
  }

}